* {
  margin: 0;
  padding: 0
}
.App {
  text-align: center;
  position: relative;
}
.App img {
  width: 100vw;
  z-index: -10;
  position: absolute;
  right: 0;
  top: 101px;
  opacity: 0.5;
}

/* NavBar styling */
.navigation {
  z-index: 10;
  padding: 30px;
  margin-bottom: 50px;
  background: #224de3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.navigation h1 {
  font-size: 36px;
  cursor: pointer;
}
.navigation .links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.link {
  border: none;
  cursor: pointer;
}
.link a:hover {
  border: 1px solid darkblue;
}
.link a {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  color: #224de3;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.link .activeNavButton {
  background: #e0e0e0;
  color: #ff0000;
}

/* Smurfs Styling */
.Smurfs {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Smurfs a {
  text-decoration: none;
  color: rgb(54, 54, 54);
  background: #e3d900;
  width: 35%; 
  height: 200px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.Smurfs a:hover {
  border: 1px solid #224de3;
  cursor: pointer;
}
.Smurf {
  height: 100%;
  padding: 0 30px;
  background: #e3d900;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Smurf:hover {
  cursor: pointer;
}
.Smurf h3 {
  margin-bottom: 20px;
  cursor: pointer;
}
.Smurf p {
  cursor: pointer;
}
.Smurf .bold {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.smurf-page-wrapper {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  background: #e3d900;
  padding-bottom: 20px;
}
.smurf-page-wrapper .Smurf {
  height: 70%;
  cursor: auto;
}
.controls {
  display: flex;
  justify-content: space-evenly;
}
.controls a {
  width: 20%;
  background: white;
  cursor: pointer;
}

.btn {
  width: 20%;
  background: white;
  border: none;
  color: #224de3;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background: rgb(240, 240, 240);
}
.btn:focus {
  outline: none;
}
.controls a .btn {
  width: 100%;
}

/* AddSmurf form */
.SmurfForm {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  background: #e3d900;
}

.SmurfForm h3 {
  margin-bottom: 30px;
  color: rgb(54, 54, 54);
  text-transform: uppercase;
}
form {
  display: flex;
  flex-direction: column;
}
form input {
  background:white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  font: 16px;
  color: rgb(54, 54, 54);
}
form input:focus {
  outline: none;
}
form .message {
  height: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}

form .btn {
  width: 25%;
  margin: 0 auto;
}